---
---

@import "{{ site.theme }}";
$color-brand: #3b7ea1;
$color-brand-accent: #fdb515;
$color-link: #003262;
$color-header-heading: #ddd5c7;
$color-border: #8a8b8c;
$color-background: #c2c0bf;
$serif: 'Noto', "Helvetica Neue", Helvetica, Arial, sans-serif;
