---
---

@import "{{ site.theme }}";
body {
  font:14px/22px 'Noto Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#666;
  background: #c2c0bf;
}
a {
  color:#003262;
}
header {
  background: #3b7ea1;
  
  h1 {
    font: 40px/48px 'Noto Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ddd5c7;
  }
  
}
#banner {
  background: #fdb515;
  border: 1px solid #8a8b8c;
}

